:host ::ng-deep .p-progressbar .p-progressbar-value {
  background: #4f46e5;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: #f8fafc;
  font-weight: 600;
  color: #475569;
}
