:host ::ng-deep {
  .p {
    &-tablist-active-bar {
      background-color: transparent;
    }
    &-tablist-tab-list {
      margin: 25px 10px;
      border: 1px solid #ccc;

      padding: 20px;
      @media screen and (max-width: 768px) {
        overflow-x: auto;
        overflow-y: hidden;
      }
      .tablist-text {
        position: absolute;
        top: -15%;
        left: 1%;
        background-color: #fff;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    &-tab {
      // background-color: #2e72b8;
      margin: 0px 12px;
      // color: #fff;
      padding: 10px 25px;
      font-weight: 400;
      border: 0;

      &-active {
        background-color: #2e72b8;
        color: #fff;
      }
      &:not(.p-tab-active):not(.p-disabled):hover {
        color: #23598e;
      }
    }
    &-datatable-table {
      border: 1px solid black;
      border-collapse: collapse;
      td,
      th {
        border: 1px solid black;
        background-color: #e0e6ec;
      }
    }
  }
}

.premium-shine-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: none;
    z-index: -1;
    animation: shine 3s infinite;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
